.wrapSection {
    padding: 2% 0%;
}

.head {
    background: var(--secondary-color);
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}

.head h1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

.videoSection {
    padding: 2% 8%;
    padding-top: 6%;
}

.title {
    display: flex;
    align-items: flex-start;
}

.videoSection h2 {
    font-weight: 500;
    font-size: 48px;
}

.videoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 30px;
    margin-top: 2%;
}

.card {
    width: 350px;
    box-shadow: 0 0 8px;
    border-radius: 10px;
}

.viedo {
    width: 100%;
    border-radius: 10px;
}

.videoDesc {
    text-align: center;
    padding: 2% 0;
    font-weight: 500;
    font-size: 32px;
}

.mainVideo {
    padding: 2% 0;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ce;
}

.mainVideo h1 {
    font-weight: 500;
    font-size: 64px;

}

.video {
    height: 400px;
    width: 100%;
}
.largeViedo{
    width: 70%;
}
.logo {
    width: 270px;
    height: max-content;
    margin-left: 10px;
}

.PathLogo {
    width: 300px;
    margin-left: 10px;
    height: max-content;
    transform: translateY(8%);
}

@media screen and (max-width: 750px) {
    .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title h2 {
        font-size: 32px;
    }

    .pathTo {
        flex-direction: column;
        align-items: center;
    }

    .pathTo h1 {
        font-size: 42px;
    }
    .largeViedo{
        width: 100%;
    }
}