.head {
    background: var(--primary-color);
    padding: 2% 8%;
}

.red {
    color: var(--secondary-color);
}

.head h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 160%;
}

.doctorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardWrap {
    border-radius: 10px;
    box-shadow: 0 0 6px;
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
}

.img {
    height: 55%;
    width: calc(100% - 30px);
    object-fit: cover;
    padding: 15px;
    border-radius: 30px;
}

.name_designation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 6%;
}

.name {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 32px;
}

.content {
    background: rgba(255, 212, 0, 0.7);
    padding-top: 4%;
    padding-bottom: 10%;
    border-radius: 10px 10px 10px 10px;
    height: fit-content;
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.content h3 {
    color: var(--secondary-color);
    margin-top: 8%;
    text-align: center;
}

.countSection {
    margin: 4% 16%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.countSection h1 {
    font-weight: 700;
    font-size: 3vw;
}
.countSection h2 {
    font-weight: 400;
    font-size: 2.5vw;
}

.count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    height: 1px;
    width: 300%;
    background: #000;
}
@media screen and (max-width: 768px){
    .head h1 {
        font-weight: 700;
        font-size: 22px;
    }
    .countSection {
        margin: 4% ;
    }
    .countSection h1 {
        font-size: 5vw;
    }
    .countSection h2 {
        font-size: 3vw;
    }
}